<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing images</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <div class="container">
        <header>
            <h1>Editing Images</h1>
            <h2>Photoshop</h2>
        </header>
        <h2>Image 1</h2>
        <img src="images/trees.jpg" alt="Trees">
        <img src="images/trees-ps.jpg" alt="Cropped image of trees">
        <p>In this edited image I used auto tone, cropped the image, and resized it.</p>
        <h2>Image 2</h2>
        <img src="images/swan.jpg" alt="Swan">
        <img src="images/swan-ps.jpg" alt="Flipped image of a swan">
        <p>In this edited image I flipped the image and also resized it.</p>
        <h2>Image 3</h2>
        <img src="images/pied-flycatcher.jpg" alt="Pied flycatcher">
        <img src="images/pied-flycatcher-ps.jpg" alt="Pixelate and black and white image of a pied flycatcher">
        <p>In the edited image I changed the colors to black and white and added a pixelated filter. I also resized the image.</p>
        <h2>Image 4</h2>
        <img src="images/mountains.jpg" alt="mountains with a town in the foreground">
        <img src="images/mountains-ps.jpg" alt="mountains">
        <p>In the edited image I used auto contrast, flipped the image, and cropped out everything except the mountains.</p>
        <h2>Image 5</h2>
        <img src="images/ocean.jpg" alt="Sun rising over the ocean">
        <img src="images/ocean-ps.jpg" alt="Oil painting filter on the sun rising over the ocean">
        <p>In the edited image I used the oil painting filter, rotated the image 20 degrees, and resized it.</p>
    </div>

</body>

</html>